/* used for importing fonts used in the project, from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
/* basic styling */
body{
    display: block;
    box-sizing: border-box;
    margin:0.5rem;
    background: linear-gradient(rgba(137, 144, 236, 1), rgba(137, 144, 236, 0.9));
    font-size: 1rem;
    line-height: normal;
    text-align: start;
    letter-spacing: normal;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* utility classes */
.wrapper{
    display: block;
    margin: 6.25rem auto;
    padding:1.2rem;
    width:20rem;
    height: 32.813rem;
    background-color: #272639;
    color:white;
    border-radius: 1rem;

}
.container{
    margin-top: 4rem;
    color:#ffffff;
    font-weight: bold;
}
.title{
    margin-bottom: 0.563rem;
}
.input-container{
    padding: 0.063rem 0.75rem;
    border-radius: 1.4rem;;
    background-color: #353959;
}
input{
    font-size: 1.2rem;
    background-color: #353959;
    padding: 0.063rem 0.125rem;
    border: none;
    color: white;
}
.tip-container{
    margin-top: 1.375rem;
}
/* for styling the increase and decrease split people buttons  */
.flex-container{
    display: flex;
    justify-content: space-between;
}
.button-container{
    border-radius: 50%;
}
.split-button{
   border: none;
   border-radius: 50%;
    padding:0.63rem 0.75rem;
    /* font-size: 12.8px; */
    background-color: #8990ec;
}
.button-text{
    background-color: #8990ec;
    color:#272639;
    /* font-size:12.8px; */
    font-weight:1500;
}
/* for styling the output */
.split-amount{
    margin: 0.75rem;
    font-size: 1.6rem;
}
.total{
  font-size: 2rem;
}
/* adding media queries for how the webpage will look on small size devices */
@media screen and (max-width:320px) {
    body{
        margin:.62rem;
    }
    .wrapper{
        margin: 6.25rem auto;
        padding:0.188rem;
        width:18rem;
        height: 32.813rem;
        background-color: #272639;
        border-radius: 1rem;

    }
}
